.woo-custom-installments-offer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    padding: 0.65rem 0.85rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    white-space: wrap;
    border-radius: 0.3rem;
    background-color: rgba(34, 197, 94, 0.10);
    color: #22c55e;
    margin-top: 1rem;
    margin-bottom: 2rem;
    order: 2;
}

.woo-custom-installments-economy-pix-badge {
    order: 2;
    background-color: #22c55e;
    color: #fff;
    font-size: 0.925rem;
    font-weight: 500;
    padding: 0.675rem 1rem;
    border-radius: 0.3rem;
    line-height: 1;
    white-space: wrap;
}

.woo-custom-installments-economy-pix-badge .amount {
    color: #fff !important;
}

.woo-custom-installments-ticket-discount {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    padding: 0.65rem 0.85rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    white-space: wrap;
    border-radius: 0.3rem;
    background-color: rgba(255, 186, 8, 0.10);
    color: #ffba08;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    order: 3;
}

.woo-custom-installments-offer .amount, .woo-custom-installments-ticket-discount .amount, .woo-custom-installments-card-container .amount, th.final-text .amount, th.final-price .amount  {
    font-weight: 500;
}

.woo-custom-installments-group {
    display: grid;
    justify-items: flex-start;
    width: 100%;
}

.woo-custom-installments-select-variation-message {
    display: block;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    font-size: 0.85rem;
    color: #6C757D;
}

.woocommerce-variation-price .price .woo-custom-installments-group {
    justify-items: flex-start;
}

.variation-price, .discount-before-price, .discounted-price, .discount-after-price, .discount-before-discount-ticket, .discount-after-discount-ticket {
    line-height: 1;
}

.woo-custom-installments-card-container {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #343A40;
    white-space: wrap;
}

.woo-custom-installments-details-without-fee, .woo-custom-installments-details-with-fee {
    display: block;
}

.variation-price,
.discount-before-price,
.wci-icon-ticket-discount,
.discounted-price,
.wci-icon-main-price,
.wci-icon-best-installments,
.variation-text,
.discount-before-discount-ticket,
.wci-icon-economy-pix {
    margin-right: 0.25rem;
}

.woo-custom-installments-starting-from {
    margin-right: 0.5rem;
}

.woo-custom-installments-offer:has(.variation-text) .discount-before-price {
	display: none;
}

#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    
}

#popup-container.show {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: opacity 0.3s ease, visibility 0s linear 0s;
}

#popup-content {
    background-color: #fff;
    padding: 1rem 1.5rem 2rem 1.5rem;
    border-radius: 0.5rem;
    width: auto;
    height: auto;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translate(0, -50px);
    transition: transform .3s ease-out;
}

#popup-container.show #popup-content {
    transform: none;
}

@media (min-width: 768px) {
    #popup-content {
        width: 650px;
        height: fit-content;
        max-height: 75%;
    }
}

@media (max-width: 767px) {
    #popup-content {
        width: 95%;
        height: fit-content;
        max-height: 95%;
        position: absolute;
    }

    #popup-container.show {
        position: fixed;
    }

    .woo-custom-installments-offer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
}

#popup-content::-webkit-scrollbar, .credit-card-container-badges::-webkit-scrollbar, .debit-card-container-badges::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

@media (max-width: 992px){
    #popup-content::-webkit-scrollbar, .credit-card-container-badges::-webkit-scrollbar, .debit-card-container-badges::-webkit-scrollbar {
        height: 3px;
        width: 3px;
    }
}

#popup-content::-webkit-scrollbar-track, .credit-card-container-badges::-webkit-scrollbar-track, .debit-card-container-badges::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100%;
}

#popup-content::-webkit-scrollbar-thumb, .credit-card-container-badges::-webkit-scrollbar-thumb, .debit-card-container-badges::-webkit-scrollbar-thumb {
    background-color: #CED4DA;
    border-radius: 50px;
}

#popup-content::-webkit-scrollbar-thumb:hover, .credit-card-container-badges::-webkit-scrollbar-thumb:hover, .debit-card-container-badges::-webkit-scrollbar-thumb:hover {
    background-color: #212529;
}

#open-popup {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    line-height: 1.6;
    color: #008aff;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid #008aff;
    padding: 0.625rem 1.75rem;
    margin: 1rem 0 3rem 0;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    outline: none !important;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#open-popup:hover {
    background-color: #008aff;
    color: #fff;
    
}

#popup-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 2rem;
}

#popup-title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
}

#close-popup {
    color: #fff;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    background-position: right;
    opacity: .5;
    border: none !important;
    outline: none !important;
}

#close-popup:hover {
    text-decoration: none;
    opacity: .75;
}

.container-separator {
    margin: 1.75rem 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    height: 1px;
    width: 100%;
}

.instant-approval-badge, .badge-discount-checkout {
    display: inline-block;
    padding: 0.35em 0.6em;
    font-size: 0.8125em;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
    background-color: rgba(34, 197, 94, 0.10);
    color: #22c55e;
    margin-bottom: 1rem;
}

.badge-interest-checkout {
    display: inline-block;
    padding: 0.35em 0.6em;
    font-size: 0.8125em;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
    background-color: rgba(255,186,8,.12);
    color: #ffba08; 
}

.badge-discount-checkout, .badge-interest-checkout {
    margin-left: 0.5rem;
    margin-bottom: 0;
}

.pix-method-container {
    display: flex;
    margin-bottom: 0.75rem;
}

.pix-method-name {
    color: #212529;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

.pix-info {
    display: flex;
    width: fit-content !important;
}

.pix-info.instant-approval-badge {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.pix-info.instant-approval-badge .pix-icon-badge {
    font-size: 1.75rem;
}

.pix-info .woo-custom-installments-economy-pix-badge {
    margin-left: 0.5rem;
    background-color: transparent;
    padding: 0;
    color: #2ebdaf;
    font-weight: 600;
}

.pix-info .woo-custom-installments-economy-pix-badge .amount {
    color: #2ebdaf !important;
    font-size: 0.925rem;
}

.pix-info .woo-custom-installments-economy-pix-badge .wci-icon-economy-pix {
    display: none;
}

.pix-icon-badge {
    font-size: 2rem;
    color: #2ebdaf;
}

.ticket-instructions {
    font-size: 0.855rem;
}

.container-badge-icon {
    width: 3rem;
    min-width: 3rem;
    height: auto;
    margin-right: 0.75rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.paypal-flag, .mercado_pago-flag, .diners_club-flag, .pagseguro-flag, .pagarme-flag {
    width: 5rem;
    min-width: 5rem;
}

.credit-card-container-badges, .debit-card-container-badges {
    display: flex;
    overflow: auto;
    padding-bottom: 0.5rem;
}

h4.pix-method-title, h4.ticket-method-title, h4.credit-card-method-title, h4.debit-card-method-title, h4.installments-title {
    font-size: 1.125rem;
}

.container-badge-icon.pix-flag, .credit-card-container-badges, .debit-card-container-badges, .container-badge-icon.ticket-flag {
    margin-bottom: 2rem;
}

#popup-content .woo-custom-installments-pix-section, #popup-content .woo-custom-installments-credit-card-section, #popup-content .woo-custom-installments-debit-card-section, #popup-content .woo-custom-installments-ticket-section {
    border-bottom: 1px solid #d4d7e5;
    margin-bottom: 2rem;
}

.accordion-item {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.35rem;
    overflow: hidden;
    height: 55px;
    transition: height .35s ease;
}

.accordion-item.active {
    height: auto;
}

.accordion-header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 1rem 1.25rem !important;
    font-size: 1rem;
    font-weight: 500;
    color: #343A40;
    background-color: #fff;
    text-align: left;
    text-transform: none;
    border: 0;
    border-radius: 0.25rem;
    overflow-anchor: none;
    outline: none !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.accordion-header:hover, .accordion-header:focus {
    color: #212529;
    background-color: #E9ECEF;
}

.accordion-header::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-item.active .accordion-header::after {
    transform: rotate(-180deg);
}

.accordion-content {
    background-color: #fff;
    max-height: 0;
    padding: 1rem;
    border: 0;
    overflow: hidden;
    transition: max-height .35s ease;
}

.accordion-item.active .accordion-content {
    padding: 1rem;
    max-height: none;
    border-top: 1px solid #ddd;
}

.woo-custom-installments-table tbody>tr:nth-child(odd)>td, table tbody>tr:nth-child(odd)>th {
    background-color: transparent !important;
}

.woo-custom-installments-table th {
    font-weight: 400;
    font-size: 0.95rem;
    border: none;
    border-bottom: 1px solid;
    border-color: #d9dde3;
    padding: 0.75rem 1rem;
}

.woo-custom-installments-table th.final-text {
    border-right: 1px solid #d9dde3;
}

.woo-custom-installments-table tr:last-of-type > th {
    border-bottom: none;
}

.woo-custom-installments-table tr:first-of-type > th {
    border-top: none;
}

.woo-custom-installments-table tr:hover {
    background-color: #E9ECEF;
}

.woo-custom-installments-order-discount-cart {
    display: flex;
    justify-content: space-between;
}

.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands" !important;
    font-weight: 400 !important;
}

.woo-custom-installments-text-after-price {
    margin-left: 0.5rem;
}

.single-product p.price {
    margin-bottom: 0;
}

.woo-custom-installments-discount-per-quantity-message {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    padding: 0.65rem 0.85rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.3rem;
    color: #4475de;
    background-color: #edf3fe;
    margin-bottom: 1rem;
    line-height: 1;
}

.woo-custom-installments-discount-per-quantity-message i {
    margin-right: 0.25rem;
}

.browser-Safari .hide-larger-price .price {
    white-space: initial !important;
}

/**
 * Astra theme style tweak
 *
 * @since  2.1.0
 */
.ast-sticky-add-to-cart-action-wrap #open-popup {
    display: none;
}


/**
 * Woodmart theme style tweak
 *
 * @since  2.1.0
 */
.wd-sticky-btn-cart #open-popup {
    display: none;
}

.wd-sticky-btn .woo-custom-installments-group {
	display: none;
}

.wd-sticky-btn-cart .woo-custom-installments-group {
    display: flex;
    align-items: center;
}

.wd-sticky-btn-cart .original-price {
    font-size: 1.125rem;
}

.theme-woodmart .woocommerce-grouped-product-list .woo-custom-installments-group {
    display: none;
}

.wd-product-nav-desc .woo-custom-installments-group {
    display: none;
}

.theme-woodmart .quick-shop-wrapper button#open-popup {
    display: none;
}

/**
 * EpicJungle theme style tweak
 *
 * @since  2.1.0
 */
.media-body .woo-custom-installments-group {
    display: none;
}

/**
 * Machic theme style tweak
 *
 * @since  2.4.0
 */
.theme-machic .single-product-container .product-price .woo-custom-installments-group {
    justify-items: flex-start;
}

.theme-machic .single-product-container .product-price .price {
    display: block;
}

.d-none {
    display: none !important;
}